<template name="name-badge">
    <style>
      .outer.zoom {
        transform: scale(0.5);
      }
      .outer {
          transform: scale(1.0);
          transition-property: transform;
          transition-duration: 400ms;
          border: 2px solid brown;
          border-radius: 1em;
          background: red;
          font-size: 20pt;
          width: 12em;
          height: 7em;
          text-align: center;
      }
      .inner {
          color: white;
          font-family: sans-serif;
          padding: 0.5em;
      }
      .name {
          color: black;
          background: white;
          font-family: "Futura", cursive;
          font-size: 45pt;
          padding-top: 0.2em;
      }
    </style>

    <div class="outer zoom">
        <div class="inner">
            Hi! My name is
        </div>
        <div class="name">
            <content></content>
        </div>
    </div>

</template>

<script src="./name-badge.js"></script>
